  
.image-body {
  padding-top: 10vh;
  padding-bottom: 0vh;
  background-image: url('../../../assets/img/Group_3329@2x.png');
  background-attachment: fixed;
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
}
  