<div class="wrapper">
    <div class="card">
        <div class="title">
            <div>
                <h4>Conocer mi sobrino</h4>
                <b>Categoria: Bienestar </b>
            </div>
            <a>Revisar objetivo</a>
        </div>
        <div  class="info">
            <div>
                <span>
                    <p>
                        En esta fecha:
                    </p>
                </span>
                <b class="date">Diciembre/2022</b>
            </div>
            <div>
                <span>
                    <p>
                        Lograrás
                    </p>
                </span>
                <b class="goal">$6.000.000</b>
            </div>
            <div>
                <span>
                    <img src="../../../../../assets/img/Icon-awesome-star.svg">
                    <p>
                        Ya cuentas con:
                    </p>
                </span>
                <b class="balance">$0</b>
            </div>
        </div>
        <div class="altern">
            <a (click)="scrollToCards()">
                <span>
                    <img src="../../../../../assets/img/Icon-awesome-check-circle.svg">
                    <b>¡Asocia productos para monitorear su progreso!</b>
                </span>
            </a>
        </div>
    </div>
</div>