/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* You can add global styles to this file, and also import other style files */
$primary-green: #00C83C;
$primary-orange: #FE9200;
$light-blue: #A5D7E1;
$light-orange: #FECD72;
$light-green: #95DBB7;
$grey-1: #EDEDED;
$grey-2: #e2e2e2;
$grey-3: #3f3f3f;
$shadow-color: #00000029;


// @font-face 
// {
//     font-family: 'Montserrat';
//     font-weight: bold;
//     font-style: normal;
//     src: url('assets/fonts/montserrat/Montserrat-Bold.ttf')
// }
  


// @font-face 
// {
//     font-family: 'Montserrat';
//     font-weight: 500;
//     font-style: normal;
//     src: url('assets/fonts/montserrat/Montserrat-Medium.ttf')
// }
  


// @font-face 
// {
//     font-family: 'Montserrat';
//     font-weight: 600;
//     font-style: normal;
//     src: url('assets/fonts/montserrat/Montserrat-SemiBold.ttf')
// }
  


// @font-face 
// {
//     font-family: 'Verdana';
//     font-weight: normal;
//     font-style: normal;
//     src: url('assets/fonts/verdana/Verdana-Regular.ttf')
  
// }
 

// @font-face 
// {
//     font-family: 'Verdana';
//     font-weight: bold;
//     font-style: normal;
//     src: url('assets/fonts/verdana/Verdana-Bold.ttf')
// }


// body
// {
//     margin: 0;
// }

// section
// {
//     margin: 0 0 0 50px;
//     padding: 80px 10%;
// }
    
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
